export(Rsq)
export(StangleBook)
export(SweaveBook)
export(fitPvalue)
export(formatScientificTeX)
export(fmtST)
export(intPlot)
S3method(intPlot, default)
S3method(intPlot, formula)
export(last)
export(pairsDAFS)
export(plotBoth)
export(plotBoth.control)
export(plotRegDiagPlots)
export(printCI)
export(pvalue)
export(shadeDens)
